# Pandas
## Handling data from external sources

In [1]:
import pandas as pd
import os

cwd = os.getcwd()

#Read a CSV file
file = cwd + '/data_source/census_data.csv'
csv_df = pd.read_csv(file)

print(csv_df.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [2]:
#Reading CSV files who's separator is not a comma
file2 = cwd + '/data_source/census_data_v2.csv'
csv_df2 = pd.read_csv(file2, sep=';')
print(csv_df2.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [3]:
#Reading text files
file3 = cwd + '/data_source/census_data_v3.txt'
csv_df3 = pd.read_csv(file3, sep='\t')
print(csv_df3.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [4]:
#Reading Excel Files
file4 = cwd + '/data_source/nse.xls'
xls_file = pd.ExcelFile(file4)

#print worksheet names
print(xls_file.sheet_names)

#Get data from worksheet 
xls_df = xls_file.parse('nse')
print(xls_df.head())

['nse', 'nse_2']
                       stock   PREV    NOW       %     VOL Unnamed: 5
0  Eveready East Africa Ltd.   1.00   1.10  10.00%    4400
1              Trans-Century   3.05   3.35   9.84%     100
2           Total Kenya Ltd.  27.75  30.00   8.11%    1400
3            Home Afrika Ltd   0.75   0.80   6.67%  356700
4        Britam Holdings Ltd  11.10  11.55   4.05%   13900

In [5]:
#Reading Json Files
file5 = cwd + '/data_source/sample.json'
js_df = pd.read_json(file5)
print(js_df.head())

     County   No. of Households   Area in Sq. Km.   Population Density  \
0   MOMBASA              268700              3079                305.1
1     KWALE              122047              1265                513.8
10   ISIOLO               31326               397                360.9
11     MERU              319616              3196                424.4
12  THARAKA               88803              1102                331.5

      Male   Female    Total
0   486924   452446   939370
1   315997   333934   649931
10   73694    69600   143294
11  670656   685645  1356301
12  178451   186879   365330

In [6]:
#Reading html 
import html5lib

url = "https://en.wikipedia.org/wiki/Counties_of_Kenya"
kc = pd.read_html(url) #creates a list of dataframes
counties_of_kenya = kc[2]
print(counties_of_kenya.head())

      0                 1                2           3  \
0  Code            County  Former Province  Area (km2)
1     1  Mombasa (County)            Coast       212.5
2     2             Kwale            Coast      8270.3
3     3            Kilifi            Coast     12245.9
4     4        Tana River            Coast     35375.8

                         4               5
0  PopulationCensus (2009)         Capital
1                   939370  Mombasa (City)
2                   649931           Kwale
3                  1109735          Kilifi
4                   240075            Hola

In [7]:
url2 = "https://www.centralbank.go.ke"
cbk = pd.read_html(url2)
exchange_rates_cbk = cbk[9]
print(exchange_rates_cbk)

                                   0         1
0  Key CBK Indicative Exchange Rates       NaN
1                          US DOLLAR  100.9183
2                          STG POUND  133.4681
3                               EURO  116.7636
4                            More...       NaN
5              Posted On: 12-10-2018       NaN