# Pandas

Series is 1D while DataFrame is 2D Tabular 

## Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
arr1 = [1,10,5,23,57]
arr2 = ['paul', 'ken', 'ryu', 'gronk', 'gunjack']

oneD = pd.Series(arr1, arr2)
print(oneD)

paul        1
ken        10
ryu         5
gronk      23
gunjack    57
dtype: int64

### Filtering data by rows

In [3]:
# Example 1
print(oneD[0:2])

paul     1
ken     10
dtype: int64

In [4]:
# Example 2
print(oneD[[1,2]])

ken    10
ryu     5
dtype: int64

In [5]:
# Example 3
print(oneD.loc[['gunjack']]) #label location based

gunjack    57
dtype: int64

In [6]:
# Example 4
print(oneD.iloc[[3]]) #index-location based

gronk    23
dtype: int64

### Filtering data and get value

In [7]:
print(oneD.iloc[2])

5

## Pandas DataFrame

In [8]:
arr1 = ['apples', 'mangoes', 'pears', 'pineapples', 'oranges']
arr2 = [10, 50, 30, 23, 49]
dict1 = {'fruit':arr1, 'qty':arr2}

df = pd.DataFrame(dict1)
print(df)

        fruit  qty
0      apples   10
1     mangoes   50
2       pears   30
3  pineapples   23
4     oranges   49

In [9]:
#set index
df = df.set_index('fruit')
print(df)

            qty
fruit
apples       10
mangoes      50
pears        30
pineapples   23
oranges      49

In [10]:
#add column and data from another dataframe with similar index
arr3 = [2000, 4000, 25000, 7500, 16000]
arr4 = ['apples', 'oranges', 'pineapples', 'pears', 'tangerines']
dict2 = {'sales':arr3, }

df2 = pd.DataFrame(dict2, index=arr4)
df = df.join(df2)
print(df)

#NB Tangerines was left out since it is not found in df index column

            qty    sales
fruit
apples       10   2000.0
mangoes      50      NaN
pears        30   7500.0
pineapples   23  25000.0
oranges      49   4000.0

In [11]:
#filtering columns and index i want to retain
fil_df = pd.DataFrame(df, index=['apples', 'mangoes'], columns=['qty', 'sales'])
print(fil_df)

         qty   sales
apples    10  2000.0
mangoes   50     NaN