# Concatenate

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df1 = pd.DataFrame({'letter':['a','b'], 'number':[1,2]})
df2 = pd.DataFrame({'letter':['c','d'], 'number':[3,4]})
df3 = pd.DataFrame({'letter':['c','d'], 'number':[3,4], 'animal':['cat', 'dog']})

In [3]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [4]:
pd.concat([df1, df3], sort=True)

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [5]:
pd.concat([df1, df3], join="inner") #merge columns that exist in both dataframes

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [12]:
cwd = os.getcwd()

#dfile = cwd + '/data_source/starbucks-menu-nutrition-drinks.csv'
ffile = cwd + '/data_source/starbucks-menu-nutrition-food.csv'

#drinks = pd.read_csv(dfile)
food = pd.read_csv(ffile, sep=',')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte