In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
#get current working directory
cwd = os.getcwd()

#get file
file = cwd + '/data_source/census_data.csv'
data = pd.read_csv(file)

print(data.head())

#get file2
file2 = cwd + '/data_source/fruits.csv'
data2 = pd.read_csv(file2)

print(data2.head())

      County  No. of Households  Area in Sq. Km.  Population Density    Male  \
0    MOMBASA             268700             3079               305.1  486924
1      KWALE             122047             1265               513.8  315997
2     KILIFI             199764             2343               473.6  535526
3  TANARIVER              47414              626               383.5  119853
4       LAMU              22184              265               383.2   53045

   Female    Total
0  452446   939370
1  333934   649931
2  574209  1109735
3  120222   240075
4   48494   101539
      County  No. of Households  Area in Sq. Km.  Population Density    Male  \
0    MOMBASA             268700             3079               305.1  486924
1      KWALE             122047             1265               513.8  315997
2     KILIFI             199764             2343               473.6  535526
3  TANARIVER              47414              626               383.5  119853
4       LAMU              22184              265               383.2   53045

   Female    Total
0  452446   939370
1  333934   649931
2  574209  1109735
3  120222   240075
4   48494   101539

In [3]:
#data subset
subset = data[["County","No. of Households"]]
print(subset.head())

      County  No. of Households
0    MOMBASA             268700
1      KWALE             122047
2     KILIFI             199764
3  TANARIVER              47414
4       LAMU              22184

In [4]:
#isolate rows
print(data[5:26])

          County  No. of Households  Area in Sq. Km.  Population Density  \
5   TAITA TAVETA              71090              971               293.2
6        GARISSA              98590              861               723.7
7          WAJIR              88574              815               812.2
8        MANDERA             125497             1038               988.2
9       MARSABIT              56941              653               445.9
10        ISIOLO              31326              397               360.9
11          MERU             319616             3196               424.4
12       THARAKA              88803             1102               331.5
13          EMBU             131683             1296               398.3
14         KITUI             205491             3587               282.3
15      MACHAKOS             264500             3052               360.0
16       MAKUENI             186478             2344               377.4
17     NYANDARUA             143879             1259               473.6
18         NYERI             201703             2077               333.9
19     KIRINYAGA             154220             1401               376.9
20       MURANGA             255696             2517               374.5
21        KIAMBU             469244             4946               328.2
22       TURKANA             123191             1520               562.8
23    WEST POKOT              93777             1407               364.4
24       SAMBURU              47354              542               413.2
25   TRANS-NZOIA             170117             1611               508.2

      Male  Female    Total
5   145334  139323   284657
6   334939  288121   623060
7   363766  298175   661941
8   559943  465813  1025756
9   151112  140054   291166
10   73694   69600   143294
11  670656  685645  1356301
12  178451  186879   365330
13  254303  261909   516212
14  481282  531427  1012709
15  543139  555445  1098584
16  430710  453817   884527
17  292155  304113   596268
18  339725  353833   693558
19  260630  267424   528054
20  457864  484717   942581
21  802609  820673  1623282
22  445069  410330   855399
23  254827  257863   512690
24  112007  111940   223947
25  407172  411585   818757

## Conditional filtering (and, or)

In [5]:

print(data[(data['Population Density'] == 812.2) | (data['Population Density'] == 424.4)]) #or

   County  No. of Households  Area in Sq. Km.  Population Density    Male  \
7   WAJIR              88574              815               812.2  363766
11   MERU             319616             3196               424.4  670656

    Female    Total
7   298175   661941
11  685645  1356301

In [6]:
print(data[(data['Population Density'] == 812.2) & (data['Male'] >= 36000)]) #and

  County  No. of Households  Area in Sq. Km.  Population Density    Male  \
7  WAJIR              88574              815               812.2  363766

   Female   Total
7  298175  661941

## Drop column or row

In [7]:
#ensure it is indeed type is a dataframe
df = pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [8]:
df.drop(df.index[0], inplace=True) #drop first row
df.drop(df.index[:5], inplace=True) #drop first five rows

print(df.head())

      County  No. of Households  Area in Sq. Km.  Population Density    Male  \
6    GARISSA              98590              861               723.7  334939
7      WAJIR              88574              815               812.2  363766
8    MANDERA             125497             1038               988.2  559943
9   MARSABIT              56941              653               445.9  151112
10    ISIOLO              31326              397               360.9   73694

    Female    Total
6   288121   623060
7   298175   661941
8   465813  1025756
9   140054   291166
10   69600   143294

In [9]:
df.drop(['Area in Sq. Km.', 'No. of Households'], axis=1, inplace=True) #drop a or multiple column
print(df.head())

      County  Population Density    Male  Female    Total
6    GARISSA               723.7  334939  288121   623060
7      WAJIR               812.2  363766  298175   661941
8    MANDERA               988.2  559943  465813  1025756
9   MARSABIT               445.9  151112  140054   291166
10    ISIOLO               360.9   73694   69600   143294

## Indexing and Subsetting

In [10]:
above_or_20 = data[20:] #select from row 20 onwards
even_index = data[::2] #select entries whose index is even
row_col_slice_iloc = data.iloc[0:10, 1:4] #row and column slicing using iloc - index location
row_col_slice_loc = data.loc[[0,5,10], ['County','Population Density','Male', 'Female','Total']] #row and column slicing using loc - name location

#print(above_or_20.head())
#print(even_index.head())
#print(data.head())
#print(row_col_slice_iloc.head())
#print(row_col_slice_loc.head())

In [11]:
subset_1 = data[['County', 'Male', 'Female', 'Total']][5:10]
subset_2 = data[10:40]
subset_3 = data.head(10)
print(subset_1)
print(subset_2)
print(subset_3)

         County    Male  Female    Total
5  TAITA TAVETA  145334  139323   284657
6       GARISSA  334939  288121   623060
7         WAJIR  363766  298175   661941
8       MANDERA  559943  465813  1025756
9      MARSABIT  151112  140054   291166
             County  No. of Households  Area in Sq. Km.  Population Density  \
10           ISIOLO              31326              397               360.9
11             MERU             319616             3196               424.4
12          THARAKA              88803             1102               331.5
13             EMBU             131683             1296               398.3
14            KITUI             205491             3587               282.3
15         MACHAKOS             264500             3052               360.0
16          MAKUENI             186478             2344               377.4
17        NYANDARUA             143879             1259               473.6
18            NYERI             201703             2077               333.9
19        KIRINYAGA             154220             1401               376.9
20          MURANGA             255696             2517               374.5
21           KIAMBU             469244             4946               328.2
22          TURKANA             123191             1520               562.8
23       WEST POKOT              93777             1407               364.4
24          SAMBURU              47354              542               413.2
25      TRANS-NZOIA             170117             1611               508.2
26      UASIN GISHU             202291             2112               423.4
27  ELGIYO MARAKWET              77555             1107               334.2
28            NANDI             154073             1777               423.7
29          BARINGO             110649             1970               282.0
30         LAIKIPIA             103114             1023               390.3
31           NAKURU             409836             4650               344.8
32            NAROK             169220             1852               459.5
33          KAJIADO             173464             1105               351.6
34            BOMET             142361             1630               444.3
35          KERICHO             160134             1886               402.1
36         KAKAMEGA             355679             3343               496.8
37           VIHIGA             123347             1271               436.4
38          BUNGOMA             321628             3123               522.2
39            BUSIA             103421             1171               416.8

      Male  Female    Total
10   73694   69600   143294
11  670656  685645  1356301
12  178451  186879   365330
13  254303  261909   516212
14  481282  531427  1012709
15  543139  555445  1098584
16  430710  453817   884527
17  292155  304113   596268
18  339725  353833   693558
19  260630  267424   528054
20  457864  484717   942581
21  802609  820673  1623282
22  445069  410330   855399
23  254827  257863   512690
24  112007  111940   223947
25  407172  411585   818757
26  448994  445185   894179
27  183738  186260   369998
28  376488  376477   752965
29  279081  276480   555561
30  198625  200602   399227
31  804582  798743  1603325
32  429026  421894   850920
33  345146  342166   687312
34  359727  364459   724186
35  381980  376359   758339
36  800989  859662  1660651
37  262716  291906   554622
38  710510  835339  1630934
39  232075  256000   488075
         County  No. of Households  Area in Sq. Km.  Population Density  \
0       MOMBASA             268700             3079               305.1
1         KWALE             122047             1265               513.8
2        KILIFI             199764             2343               473.6
3     TANARIVER              47414              626               383.5
4          LAMU              22184              265               383.2
5  TAITA TAVETA              71090              971               293.2
6       GARISSA              98590              861               723.7
7         WAJIR              88574              815               812.2
8       MANDERA             125497             1038               988.2
9      MARSABIT              56941              653               445.9

     Male  Female    Total
0  486924  452446   939370
1  315997  333934   649931
2  535526  574209  1109735
3  119853  120222   240075
4   53045   48494   101539
5  145334  139323   284657
6  334939  288121   623060
7  363766  298175   661941
8  559943  465813  1025756
9  151112  140054   291166