# Pandas
## Handling data from external sources

In [1]:
import pandas as pd
import os

cwd = os.getcwd()

#Read a CSV file
file = cwd + '/data_source/census_data.csv'
csv_df = pd.read_csv(file)

print(csv_df.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [2]:
#Reading CSV files who's separator is not a comma
file2 = cwd + '/data_source/census_data_v2.csv'
csv_df2 = pd.read_csv(file2, sep=';')
print(csv_df2.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [3]:
#Reading text files
file3 = cwd + '/data_source/census_data_v3.txt'
csv_df3 = pd.read_csv(file3, sep='\t')
print(csv_df3.head())

      County   No. of Households   Area in Sq. Km.   Population Density  \
0    MOMBASA              268700              3079                305.1
1      KWALE              122047              1265                513.8
2     KILIFI              199764              2343                473.6
3  TANARIVER               47414               626                383.5
4       LAMU               22184               265                383.2

     Male   Female    Total
0  486924   452446   939370
1  315997   333934   649931
2  535526   574209  1109735
3  119853   120222   240075
4   53045    48494   101539

In [4]:
#Reading Excel Files
file4 = cwd + '/data_source/nse.xls'
xls_file = pd.ExcelFile(file4)

#print worksheet names
print(xls_file.sheet_names)

#Get data from worksheet 
xls_df = xls_file.parse('nse')
print(xls_df.head())

['nse', 'nse_2']
                       stock   PREV    NOW       %     VOL Unnamed: 5
0  Eveready East Africa Ltd.   1.00   1.10  10.00%    4400
1              Trans-Century   3.05   3.35   9.84%     100
2           Total Kenya Ltd.  27.75  30.00   8.11%    1400
3            Home Afrika Ltd   0.75   0.80   6.67%  356700
4        Britam Holdings Ltd  11.10  11.55   4.05%   13900

In [5]:
import json

#Reading Json Files
file5 = cwd + '/data_source/sample.json'
url = "https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.json?accessType=DOWNLOAD"

#open file
with open(file5, 'r') as f:
    jsn_data = json.load(f)
#jsn = json.load(url)
print(jsn_data)
js_df = pd.read_json(jsn_data)
print(js_df.head())

{'glossary': {'title': 'example glossary', 'GlossDiv': {'title': 'S', 'GlossList': {'GlossEntry': {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': 'Standard Generalized Markup Language', 'Acronym': 'SGML', 'Abbrev': 'ISO 8879:1986', 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'GlossSee': 'markup'}}}}}